/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #122642;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1001;
    height: 100px;
}
header img {
    height: 95px;
    margin-left: 15px;
}
nav {
    display: flex;
    gap: 40px;
    margin-right: 20px;
}
nav a {
    color: #4a7287;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    color: white;
    background-color: #122642;
}

/* Menú hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    margin-right: 30px;
}

.hamburger div {
    width: 30px;
    height: 5px;
    background-color: #122642;
}

/* Menú en pantalla pequeña */
.menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    padding-top: 80px;
    border-radius: 0;
    width: 250px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    text-align: center;
}

/* Cuando se activa el menú */
.menu-mobile.active {
    transform: translateX(0);
    display: block;
}

/* Lista de enlaces en vertical */
.menu-mobile a {
    color: #4a7287;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 15px;
    display: block;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #eee;
}
.menu-mobile a:last-child {
    border-bottom: none;
}

.menu-mobile a:hover {
    color: white;
    background-color: #122642;
}

/* Estilos para el contenido de las secciones */
.section {
    text-align: center;
    display: none;
    padding: 60px 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f9f9f9;
}

/* Home section take full width */
#home {
    max-width: none; 
    padding: 0px;
    background-color: transparent;
}


.section.active {
    display: block;
}

.section h2 {
    color: #4a7287;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 125px);
    background-size: cover;
    background-position: center;
    z-index: 1;
    animation: slideshow 15s infinite linear;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
/* Overlay for text and button */
.overlay {
    position: static;
    transform: none;
    width: 80%;
    max-width: 800px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
}
.overlay h1 {
    font-size: 2.9rem;
    margin-bottom: 20px;
}
.overlay p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-style: inherit;
    padding: 10px;
    margin-bottom: 30px;
}

/* Button styles */
.overlay button {
    background-color: #122642;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
.overlay button:hover {
    background-color: #49738B;
}

/* Slideshow animation */
@keyframes slideshow {
    0%, 100% { background-image: url('assets/slideshow/1.png'); }
    25% { background-image: url('assets/slideshow/2.png'); }
    50% { background-image: url('assets/slideshow/3.png'); }
    75% { background-image: url('assets/slideshow/4.png'); }
}

/* Sección Quiénes Somos */
.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 50px;
  padding: 50px;
  text-align: center;
}

.about-card {
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    box-sizing: border-box;
}

.about-card .card-icon img {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-inline: auto;
    margin-bottom: 20px;
}

.about-card .card-title {
    margin: 0 0 15px;
    color: #6194cd;
    font-size: 1.5rem;
}

.about-card .card-subtitle {
    margin: 0 0 15px;
    color: #122642;
    font-size: 1rem;
}

.about-card .card-text {
    color: #555555;
    font-size: 1rem;
    line-height: 1.6;
    flex-grow: 1;
}

.about-card .card-list {
    color: #555555;
    margin: 0px; 
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    flex-grow: 4;
}

/* Estilos para las imágenes en la sección de servicios */
.images-grid {
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px; 
    text-align: left;
}

.image-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.image-box h3 {
    display: block;
    margin: 30px 10px 20px 10px;
    color: #6194cd;
    font-size: 1.4rem;
    min-height: 3.2rem;
    font-weight: bold;
    text-align: center;
}

.images-grid img {
    width: auto;
    height: 250px;
    object-fit: cover;
    margin: 10px 30px 20px 30px;
    border-radius: 30px;
}

.image-box .description {
    list-style-type: disc;
    list-style-position: outside;
    color: #122642;
    font-size: 1rem;
    line-height: 1.6;
    padding: 0px 40px 30px 40px;
    flex-grow: 1;
}

.description li {
    padding-left: 0.5em;
}

/* Clientes */
.clients {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 40px;
}
.client {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.client img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.contáctanos {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.contáctanos h2 {
  color: #004d73;
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact-form {
  max-width: 800px;
  background-color: #f9f9f9;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.contact-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: #6194cd;
}

.contact-form input,
.contact-form textarea {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

.contact-form button {
  font-family: 'Poppins', sans-serif;
  background-color: #122642;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
}

.contact-form button:hover {
  background-color: #003652;
}

.mensaje-gracias {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #d1f0dc;
  color: #003d2e;
  border-left: 5px solid #2eb85c;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.legal-aviso {
  font-size: 0.85rem;
  color: #555;
  text-align: center;
  margin-top: 1rem;
}
.legal-aviso a {
  color: #004d73;
  text-decoration: underline;
}

/* Footer */
footer {
    background-color: #122642;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-column-line {
    border-top: 2px solid #4a7287;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.footer-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 20px;
    text-align: left;
    margin: 20px 40px 20px 40px;
}

.footer-column h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.3rem;
}
.footer-column p {
    color: white;
    margin: 10px 0;
    width: 300px;
    text-align: left;
    font-size: 0.95rem;
}
.icon-container a svg {
    stroke: white;
    width: 30px;
    height: 30px;
}
.icon-container a:hover svg {
    stroke: #cccccc;
}

.footer-column-logo {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.footer-column-logo img {
  width: 180px;
  height: 180px;
  margin: 0;
}

.footer-column-logo p {
  font-size: 0.95rem;
  color: white;
  margin: 0;
  text-align: center;
}


.reclamos-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.reclamos-link img {
  width: 50px;
  margin: 0px;
}

.reclamos-link span {
    font-size: 0.95rem;
}

.email-container {
  display: inline-flex;
  box-sizing: border-box;
}

.email-container input[type="email"] {
  padding-left: 10px;
  font-size: 0.95rem;
  background-color: #ffffff;
  color: #333;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.email-container button[type="submit"] {
  background-color: #4a7287;
  color: white;
  font-size: 0.95rem;
  font-weight: bold;
  outline: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.email-container input,
.email-container button {
  margin: 0;
  display: block;
}

.email-container button[type="submit"]:hover {
  background-color: #003f5c;
}


/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    header img {
        max-height: 95px;
        margin-left: 15px;
    }
    nav {
        display: none;
    }
    .hamburger {
        display: flex;
        margin-right: 20px;
    }

    .slideshow-container {
        height: calc(100vh - 80px);
    }
    .overlay h1 {
        font-size: 2rem;
    }
    .overlay p {
        font-size: 1rem;
    }
    .overlay button {
        padding: 12px 25px;
        font-size: 16px;
    }

    .section h2 {
        font-size: 2rem;
    }
    
    .icon-container {
        justify-content: center;
        display: flex;
    }
    
}

@media (max-width: 480px) {
    .menu-mobile {
        width: 100%;
    }
    .overlay {
        padding: 20px;
    }
    .overlay h1 {
        font-size: 1.8rem;
    }
}

